body {
    overflow-x: hidden;
    font-family: 'Lunasima', sans-serif;
}

.nav {
    background: #373A3C;

       .container {
        max-width: 1070px;
    }
}


.bestval {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(103,103,103,1) 50%, rgba(8,8,8,1) 100%);

    .container {
        max-width: 1070px;
    }

    .bestval-content {
        padding-bottom: 60px;
        padding-top: 65px;
        text-align: center;

        .title {
            color: #FFF;
            font-size: 48px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .subtitle {
            color: #FFF;
            font-size: 36px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .cards {
            display: flex;
            justify-content: space-around;
            padding-top: 45px;

            .card {
                border: 1px solid #8DD83D;

                .card-body {
                    text-align: start;
                    color: #435766;
                    display: flex;
                    flex-wrap: wrap;
                    align-content: space-between;

                    .card-title {
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                    }

                    .card-text {
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                    }

                    .btn{
                      height: 50px;
                      width: 100%;
                      padding-top: 4%;
                      background: #8DD83D;
                      border: none;  
                    }
                }
                
            }
        }
    }
}

.games {

}



.design {

    .container {
        max-width: 1070px;
        margin: 0 auto;

        .design-content {
            padding-top: 120px;
        }
    }
}

.footer {
    background: rgba(55, 58, 60, 1);

    .row {
        font-size: 14px; 
        line-height: 38px;

        .col {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .text-1{
                color: #8DD83D;
                font-size: 18px;
                font-weight: 600;
            }

            .text-2 {
                display: grid;
                grid-template-columns: 0.7fr 1fr 1fr;
                grid-gap: 15px
            }
        }
    }


    .container-2{
        border-top: 2px solid grey;
        color: white;
        margin-top: 60px;

        .content {
            display: flex;
            justify-content: space-between;
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
}